# binaries
spreadsheet

.dirstamp

build
config.h
config.status
configure.scan
autoscan.log
.deps
.Po
Makefile

# Derived from the GitHub gitignore templates
# https://github.com/github/gitignore/

# Linux.gitignore

*~

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# C.gitignore
# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# Autotools.gitignore
# http://www.gnu.org/software/automake

# Makefile.in

# http://www.gnu.org/software/autoconf

/autom4te.cache
/aclocal.m4
# /compile
# /configure
# /depcomp
# /install-sh
# /missing
# /stamp-h1

# C extensions
*.so

# SublimeText.gitignore

# cache files for sublime text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache

# workspace files are user-specific
*.sublime-workspace

# project files should be checked into the repository, unless a significant
# proportion of contributors will probably not be using SublimeText
*.sublime-project
